{% extends 'base.html' %}

{% block contenido %}

<h2>👨‍🔧 Gestión de Mecánicos</h2>

<form method="POST">

    <input
        type="text"
        name="nombre"
        class="form-control mb-2"
        placeholder="Nombre">

    <input
        type="text"
        name="especialidad"
        class="form-control mb-2"
        placeholder="Especialidad">

    <button class="btn btn-success">
        💾 Guardar
    </button>

</form>

<hr>

<table class="table table-striped table-hover table-bordered">

<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Especialidad</th>
</tr>

{% for m in mecanicos %}
<tr>
    <td>{{ m[0] }}</td>
    <td>{{ m[1] }}</td>
    <td>{{ m[2] }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}